<ion-header [translucent]="true">



  <app-header></app-header>



</ion-header>

<ion-content [fullscreen]="true">
<br>


<ion-grid fixed>
  <ion-row>
    <ion-col size="12">

      <ion-card>
        <ion-card-content>

          <ion-card-subtitle class="ion-text-justify">    Para aquellos que decidieron quedarse con nosotros en el Hotel Krystal, les dejamos las instrucciones para realizar el deposito de sus habitaciones:</ion-card-subtitle>
      
        </ion-card-content>
      </ion-card>

      <br>



      <ion-card>


        <ion-accordion-group expand="inset">
          <ion-accordion value="first">
            <ion-item slot="header" color="rose">
              <ion-label>Primer paso</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              
              
              
              
              First Content
            
            
            
            
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="rose">
              <ion-label>Segundo paso</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              
              
             
            
            
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="rose">
              <ion-label>Tercer paso</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              
              
             
            
            </div>
          </ion-accordion>
        </ion-accordion-group>


      </ion-card>





    </ion-col>
    
  </ion-row>
</ion-grid>




</ion-content>
