<ion-header [translucent]="true">



      <app-header></app-header>



</ion-header>

<ion-content [fullscreen]="true">
  <br>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-img src="../../assets/img/1.jpeg" alt=""></ion-img>

          <ion-card-header>
            <ion-card-title>Boda Adriana y Daniel</ion-card-title>Sábado 28 Octubre 2023
            <ion-card-subtitle> </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
         
            <ion-card-subtitle class="ion-text-justify">
              Adriana y Daniel tenemos el honor de invitarlos a la celebración de nuestra boda que se celebrará el día Sábado 28 de Octubre del 2023.


              La celebración religosa será a las 18:00 hrs en la parroquia de San Antonio, Acapulco Guerrero. <a href="https://www.google.com.mx/maps/dir/20.0081122,-98.7976062/Iglesia+de+San+Antonio,+Fernando+Rosas+4,+Hogar+Moderno,+39580+Acapulco+de+Ju%C3%A1rez,+Gro./@18.4379546,-100.4103356,8z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x85caf7f81daa3a65:0xd389449020a734f4!2m2!1d-99.9128283!2d16.8595518!3e0">(Como llegar)</a>.

              <br>
              <br>


              Una vez concluida la ceremonia religosa los exhortamos a que nos acompañen a celebrar de este gran evento en el salón "Hornos" ubicado en el hotel Krystal Beach 

              <a href="https://www.google.com.mx/maps/place/Hotel+Krystal+Beach+Acapulco/@16.860183,-99.8863348,17z/data=!3m1!4b1!4m9!3m8!1s0x85ca581e6a64caab:0x74dcd0a636c3f0d6!5m2!4m1!1i2!8m2!3d16.8601779!4d-99.8837545!16s%2Fg%2F1pp2t_165">(Como llegar)</a>.

              








              
              
            </ion-card-subtitle>

          </ion-card-content>
        </ion-card>


      </ion-col>


     
    </ion-row>
  </ion-grid>
  
  



</ion-content>
